.app {
  background-color: #fafafa;
  &__header {
    background-color: white;
    object-fit: contain;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
  }

  &__login {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border: 1px solid lightgray;

  
  }
  &__loginHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border: 1px solid lightgray;
  }

  &__headerRight {
    display: flex;
    align-items: center;
  }

  &__headerImage {
    object-fit: contain;
  }

  &__posts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 30px;

    &__postsRight {
      margin-left: 10px;
    }
  }
}
